.CourseCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
border: 2px solid rgb(127, 183, 127);
padding: 15px 15px 15px 15px;
margin-bottom: 20px;
margin-top: 10px;
}

    split-screen{
        display: 'flex';
        flex-direction: 'row';
    }
    top-pane {
        width: '50%',
    }
    bottom-pane {
        width: '50%',
    }

    div.course-title{
        font-size: 18pt;
        font-weight: bold;
    }

   span.course-details{
    font-size: large;
    font-weight: bold;
   }

   .course-info{
    padding-bottom: 15px;
   }

   .imageButton img{
 width:10px; 
 height:10px;
}


    .info {
        width: 35%;
    }

    .title {
        width: 50%;
    }

    .authors {
        display: flex;
        justify-content: flex-start;
    }

    .author-list {
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 1.2em;
    }

