.Header{
border: solid 2px;
border-color: rgb(255, 0, 0);
padding: 20px;
margin-bottom: 30px;
}

span.wrapper {
    width:220px;
    float:right;
    }
    
    span.center_block {
       
    }

    span.right_block {
        padding: 10px;
        float:right;
    }
